aiohappyeyeballs
aiohttp
aiosignal
annotated-types==0.7.0
anyio==4.9.0
argcomplete==3.6.2
asgiref==3.8.1
asttokens==3.0.0
attrs==25.3.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.13.4
Brotli==1.1.0
build==1.2.2.post1
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
chromadb==1.0.12
click
cloudinary
colorama
coloredlogs
comm
contourpy
curlify
cycler
dataclasses-json
dateparser
debugpy
decorator
distro
dj-database-url==3.0.1
Django==5.2.3
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-debug-toolbar==5.2.0
django-environ==0.12.0
django-jazzmin==3.0.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
drf-yasg==1.21.10
duckduckgo_search==8.0.5
durationpy
environ
executing
facebook_business==23.0.0
faiss-cpu==1.11.0
fastapi==0.115.9
filelock
flatbuffers
fonttools
frozenlist
fsspec
google-auth==2.40.3
google_search_results
googleapis-common-protos
googlesearch-python
greenlet
grpcio
gunicorn==23.0.0
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna==3.10
importlib_metadata
importlib_resources
inflection
ipykernel
ipython
ipython_pygments_lexers
jedi
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
kubernetes
langchain==0.3.26
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph==0.5.0
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lxml
markdown-it-py
marshmallow
matplotlib==3.10.3
matplotlib-inline
mdurl
mmh3
mpmath
multidict
mypy_extensions
narwhals
nest-asyncio
numpy==1.26.4
oauthlib
onnxruntime
openai==1.93.0
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
ormsgpack
overrides
packaging
parso
pillow
pipx
platformdirs
playwright==1.53.0
plotly==6.1.2
posthog
primp
prompt_toolkit
propcache
protobuf
psutil
psycopg2-binary==2.9.10
pure_eval
pyasn1
pyasn1_modules
pycountry
pydantic==2.11.7
pydantic-settings
pydantic_core
pyee
Pygments
PyJWT
pyparsing
PyPika
pyproject_hooks
pyreadline3
PySocks
python-dateutil==2.9.0.post0
python-dotenv
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests==2.32.4
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
scikit-learn
scipy
shellingham
shortuuid
six
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
tornado
tqdm
traitlets
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
userpath
uvicorn
watchfiles
wcwidth
websocket-client
websockets
whitenoise
wrapt
xxhash
yarl
zipp
zstandard
