aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
argcomplete
asgiref
asttokens
attrs
backoff
bcrypt
beautifulsoup4
Brotli
build
cachetools
certifi
charset-normalizer
chromadb
click
cloudinary
colorama
coloredlogs
comm
contourpy
curlify
cycler
dataclasses-json
dateparser
debugpy
decorator
distro
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-debug-toolbar
django-environ
django-jazzmin
djangorestframework
djangorestframework_simplejwt
dnspython
drf-yasg
duckduckgo_search
durationpy
environ
executing
facebook_business
faiss-cpu
fastapi
filelock
flatbuffers
fonttools
frozenlist
fsspec
google-auth
google_search_results
googleapis-common-protos
googlesearch-python
greenlet
grpcio
gunicorn
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
inflection
ipykernel
ipython
ipython_pygments_lexers
jedi
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lxml
markdown-it-py
marshmallow
matplotlib
matplotlib-inline
mdurl
mmh3
mpmath
multidict
mypy_extensions
narwhals
nest-asyncio
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
ormsgpack
overrides
packaging
parso
pillow
pipx
platformdirs
playwright
plotly
posthog
primp
prompt_toolkit
propcache
protobuf
psutil
psycopg2-binary
pure_eval
pyasn1
pyasn1_modules
pycountry
pydantic
pydantic-settings
pydantic_core
pyee
Pygments
PyJWT
pyparsing
PyPika
pyproject_hooks
pyreadline3
PySocks
python-dateutil
python-dotenv
pytz
# pywin32 — skipped due to platform specificity
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
scikit-learn
scipy
shellingham
shortuuid
six
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
tornado
tqdm
traitlets
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
userpath
uvicorn
watchfiles
wcwidth
websocket-client
websockets
whitenoise
wrapt
xxhash
yarl
zipp
zstandard
